.container {
  background-color: white;
  display: flex;
  justify-content: center;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}

.table {
  width: fit-content;
  height: fit-content;
}

.th {
 background-color: #ddd;
 padding: 8px 15px 8px 15px;
}

.tr, .td {
  text-align: center;
  border: 1px solid #ddd;
  padding: 8px 15px 8px 15px;  
}

.tr:hover {
  background-color: #ddd;
}