.container {
  /*background-color: rgb(33 33 33 / 1); /* gray-900 */
  max-width: 1280px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.table {
  width: fit-content;
  height: fit-content;
  text-align: center;
}

.th {
  background-color: rgb(223, 223, 223);
  cursor: pointer;
  padding: 8px 15px 8px 15px;
}

.tr, .td {
  padding: 8px 15px 8px 15px;
  border: 1px solid #dddddd
}

.tr:hover {
  background-color: rgb(216, 216, 216)
}